body {
    margin: 0;
    padding: 15px; 
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #fff;
}

img {
    width: 100%;
    display: block;
    margin-bottom: 15px; 
}

.content-wrapper, 
.header-info {
    width: 60%; 
}

.close-link {
    position: fixed;
    top: 15px;
    right: 15px;
    text-decoration: none;
    color: #000;
}

.exhibitiontext {
    margin-bottom: 300px; 
}


summary {
  cursor: pointer;
  list-style: none;               
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0 rem 0 rem;
  display: inline-block;
}

a:link,
a:visited {
  text-decoration: none;
  color: black; 
}

a:hover,
a:active {
  text-decoration: none;
  color: grey; 
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}


  @media (max-width: 768px) {
    .content-wrapper, 
    .header-info {
        width: 100%; /* Expand to full width on mobile */
    }
    
    .close-link {
        position: static; /* Drops into the flow after header info */
        display: block;
        margin: 15px 0;
    }
}
