img {
  display: block;
  max-inline-size: 100%;
  max-width: 66.66%;
  height: auto;
}

summary {
  cursor: pointer;
  list-style: none;               
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0 rem 0 rem;
  display: inline-block;
}


header {
  position: fixed;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}

content {
  margin-top: 100px;
}


body {
  font-family: "Times New Roman", Times, serif;
}


a:link,
a:visited {
  text-decoration: none;
  color: black; 
}

a:hover,
a:active {
  text-decoration: none;
  color: grey; /
}

.menu {
  float: left;
  list-style: none;
}
